<div class="main-link-div">
    <app-breadcrum></app-breadcrum>

    <div class="flexslider">
        <ul class="slides">
            <li>
                <img src="assets/img/specialities/surgery1.jpg" />
            </li>
            <li>
                <img src="assets/img/specialities/surgery2.jpg" />
            </li>
            <li>
                <img src="assets/img/specialities/surgery3.jpg" />
            </li>
        </ul>
    </div>

    <div class="facilities-outer-div">
        <div class="row facilities-info ">
            <div class="col-md-8 pdl0">
                <div class="p-header">Cancer Surgery</div>
                <ul>
                    <li>Oral Cavity</li>
                    <li>Neck </li>
                    <li>Throat</li>
                    <li>Breast</li>
                    <li>Thorax</li>
                    <li>Abdominal</li>
                    <li>Gynecological</li>
                    <li>Soft Tissue : Any lump / bump on body</li>
                    
                </ul>
                <div class="p-header">Heart Surgery</div>
                <ul>
                    <li>Angiography</li>
                    <li>Angioplasty</li>
                    <li>Bypass Surgery</li>
                    <li>All Open Heart Surgeries</li>                    
                </ul>
                <div class="p-header">General Surgery</div>
                <ul>
                    <li>Thyroid</li>
                    <li>Breast</li>
                    <li>Appendix</li>
                    <li>Hernia</li>
                    <li>Piles</li>
                    <li>Fistula</li>
                    <li>Hysterectomy</li>
                    <li>Laparotomy</li>
                    <li>All minor & major Surgery</li>                    
                </ul>
                <div class="p-header">Laparoscopic Surgery</div>
                <ul>
                    <li>Appendix</li>
                    <li>Hysterectomy</li>
                    <li>Gall Bladder</li>
                    <li>Adhesiolysis</li>
                    <li>Ovarian Cyst - excision</li>
                    <li>All advanced Laparoscopic surgery</li>
                </ul>
                <div class="p-header">Piles Treatment</div>
                <ul>
                    <li>Laser Treatment of piles</li>
                    <li>Stappler Surgery for bigger piles</li>
                    <li>Throat</li>
                    <li>Breast</li>
                    <li>Thorax</li>
                    <li>Abdominal</li>
                    <li>Gynecological</li>
                    <li>Soft Tissue : Any lump / bump on body</li>
                    
                </ul>
                <div class="p-header">Day Care Surgery</div>
                <ul>
                    <li>For Hernia / Hydrocode / Piles / Fissure / Fistula</li>
                </ul>
                <div class="p-header">Urological Surgery</div>
                <ul>
                    <li>Stricture Utrethra</li>
                    <li>TURP for Prostate, Kidney and Bladder Stones</li>
                </ul>
                <div class="p-header">Gynecology Surgery</div>
                <ul>
                    <li>Hysterectomy</li>
                    <li>Ovarium Cyst</li>
                    <li>Wertheims Hysterectomy</li>
                </ul>
                <div class="p-header">Orthopedic Surgery</div>
                <ul>
                    <li>Spine and Joint Replacement Surgeries</li>                    
                </ul> 
                <div class="p-header">Other Surgeries</div>
                <ul>
                    <li>ENT</li>
                    <li>Plastic Surgery</li>
                    <li>All Emergency Surgeries</li>
                    <li>Management of Trauma, Head injury and Burns</li>
                </ul>
            </div>
            <!-- <div class="col-md-4 needinfo-col">
                <app-needmoreinfo [pageName]="'surgery'"></app-needmoreinfo>
            </div> -->
        </div>
    </div>
</div>