<div class="main-link-div">
    <app-breadcrum></app-breadcrum>

    <div class="flexslider">
        <ul class="slides">
            <li>
                <img src="assets/img/specialities/newborn1.jpg" />
            </li>
            <li>
                <img src="assets/img/specialities/newborn2.jpg" />
            </li>
        </ul>
    </div>

    <div class="facilities-outer-div">
        <div class="row facilities-info ">
            <div class="col-md-12 pdl0">
                <div class="p-header">Sanjeevani Provides New Born Baby Screening.</div>
                <div class="p-header">Why is it needed?</div>
                <p>A newborn screening test looks for serious Developmental, Genetic and Metabolic Disorders so that necessary treatment can be given during the critical time before symptoms develop. Most of these illnesses are very rare, but are treatable if caught early.</p>
                <div class="p-header">How do I register?</div>
                <p>All you need to do is register at the time of pregnancy to give your baby the right start, right at the start during its birth and be sure that your baby grows with confidence.</p>
                <div class="p-header">Will it hurt my child?</div>
                <p>It is a completely painless and most advanced newborn screening test that checks your baby for over 118 conditions at birth. The test is done using your baby’s umbilical cord blood at the time of birth and urine sample 48 hours later and is absolutely safe causing no harm to your little one.
                </p>
                <div class="p-header">What conditions can be screened?</div>
                <p>Radiation therapy is the use of precisely calculated doses of high energy X-rays to the affected
                    areas. It is a pain free treatment.
                </p>
                <table style="width: 100%; border-collapse: collapse; border: 1px solid rgb(0, 0, 0);">
                    <thead>
                        <tr>
                            <th style="border: 1px solid rgb(0, 0, 0);">Condition</th>
                            <th style="border: 1px solid rgb(0, 0, 0);">Potential Effect</th>
                            <th style="border: 1px solid rgb(0, 0, 0);">Management</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="width: 33.3333%; border: 1px solid rgb(0, 0, 0);">Haematology, Haemoglobin Conditions<br></td>
                            <td style="width: 33.3333%; border: 1px solid rgb(0, 0, 0);">Anemia, Growth Delays, Infection, Sepsis, Bone deformity.<br></td>
                            <td style="width: 33.3333%; border: 1px solid rgb(0, 0, 0);">Treatment with penicillin may prevent serious infections in early childhood. May require blood transfusion and iron chelation.<br></td>
                        </tr>
                        <tr>
                            <td style="width: 33.3333%; border: 1px solid rgb(0, 0, 0);">Endocrinopathies<br></td>
                            <td style="width: 33.3333%; border: 1px solid rgb(0, 0, 0);">
                                <p>Mental Retardation, Abnormal facial features, physical abnormalities.</p><br>
                            </td>
                            <td style="width: 33.3333%; border: 1px solid rgb(0, 0, 0);">Treatment should be started within 1-2 weeks of birth which consists of a daily dose of thyroxine with small amount of water or milk.<br></td>
                        </tr>
                        <tr>
                            <td style="width: 33.3333%; border: 1px solid rgb(0, 0, 0);">Infectious Conditions<br></td>
                            <td style="width: 33.3333%; border: 1px solid rgb(0, 0, 0);">Poor growth and poor weight gain, thick sticky mucus in lungs, infertility.<br></td>
                            <td style="width: 33.3333%; border: 1px solid rgb(0, 0, 0);">Treatment or prevention of lung infections by antibiotics or through DNAse, vaccines etc. Diet high in protein and calories for bowel and nutritional problems.<br></td>
                        </tr>
                        <tr>
                            <td style="width: 33.3333%; border: 1px solid rgb(0, 0, 0);">Amino acid Conditions<br></td>
                            <td style="width: 33.3333%; border: 1px solid rgb(0, 0, 0);">Developmental delay and behavior problems, brain damage, liver dysfunction, mental retardation, seizures.<br></td>
                            <td style="width: 33.3333%; border: 1px solid rgb(0, 0, 0);">Dietary treatment includes restriction of protein rich food depending on the condition and giving substitute supplements.<br></td>
                        </tr>
                        <tr>
                            <td style="width: 33.3333%; border: 1px solid rgb(0, 0, 0);">Enzyme Deficiencies for Vitamins and Sugars<br></td>
                            <td style="width: 33.3333%; border: 1px solid rgb(0, 0, 0);">Damage in brain, kidney, liver and eyes; growth abnormalities, poor weight gain, mental retardation.<br></td>
                            <td style="width: 33.3333%; border: 1px solid rgb(0, 0, 0);">Vitamin supplementation, avoidance of sugar-rich food in sugar related conditions such as eliminating lactose and galactose from the diet in case of galactosemia.<br></td>
                        </tr>
                        <tr>
                            <td style="width: 33.3333%; border: 1px solid rgb(0, 0, 0);">Fatty Acid Oxidation Conditions<br></td>
                            <td style="width: 33.3333%; border: 1px solid rgb(0, 0, 0);">Low blood sugar, cardiac arrest, muscle weakness, mental retardation, respiratory problem, failure to thrive.<br></td>
                            <td style="width: 33.3333%; border: 1px solid rgb(0, 0, 0);">Avoidance of fasting, supplementation with high energy carbohydrates drinks, infection support and carnitine supplementation<br></td>
                        </tr>
                        <tr>
                            <td style="width: 33.3333%; border: 1px solid rgb(0, 0, 0);">Organic Acid Conditions<br></td>
                            <td style="width: 33.3333%; border: 1px solid rgb(0, 0, 0);">Developmental delay, poor growth, convulsions, lethargy, mental and motor retardation, physical abnormalities.<br></td>
                            <td style="width: 33.3333%; border: 1px solid rgb(0, 0, 0);">Special food (eg. Protein restricted diet) and other treatment like carnitine supplementation. Medical foods such as special low protein flours, pastas, and rice that are made especially for people with organic acid conditions.<br></td>
                        </tr>
                    </tbody>
                </table>
                <div class="p-header">Sample Collection and Shipment:</div>
                <p>Sanjeevani Hospital provides the world’s first painless and most advanced newborn screening program. The screening is done using the sample from the baby’s umbilical cord blood and urine samples. Once you enrol for the service you would be provided with a ‘Newborn screening kit’ containing cord blood collection and urine sample collection packs.
                </p>
                <div class="p-header">Umbilical cord blood collection</div>
                <p>The baby’s umbilical cord nourishes the baby for nine months in the womb and is cut and discarded immediately after the baby is born. This umbilical cord contains residual blood which is referred as ‘cord blood’. A few drops of this blood are collected as ‘cord blood spots’ in a special paper by paramedic or the hospital staff. This is a simple & safe procedure which is done within 10 minutes after the baby is born and causes no harm to the baby since the umbilical cord is already cut immediately after birth
                </p>
                <div class="p-header">Urine Sample Collection</div>
                <p>The second part of the sample that will be required for newborn screening is the baby’s urine. The baby takes about 48 hours after birth for metabolism to set and will start urine discharge. This urine is collected in special filter papers provided in the Newborn screening kit, air-dried and sent to lab for testing. The collection procedure is very simple by placing the filter papers in the baby’s diapers 

                    <br><br>Both the samples are sealed in the respective compartments and sealed. Necessary information is filled in the forms provided in the Newborn screening kit and placed in the envelope along with the sample.
                    
                    <br><br>This most comprehensive painless newborn screening allows you to collect both blood and urine samples without any pricking, pain or fear of infection for your newborn.
                </p>
                <div class="p-header">Sample Shipment</div>
                <p>Upon successful collection you are required to contact our authorised logistics partner who shall visit your residence and collect the Newborn screening kit from you. The sample will be safely dispatched to laboratory for testing the samples.
                </p>
                <div class="p-header">Test Results and Reports</div>
                <p>Your baby’s cord blood and urine sample will be received at our Lab in 48 hours from the time you handover the Health Pack to our authorised logistics partner. The sample will be taken for testing at our laboratory in a world-class environment using the best of technology. Post testing these reports will be subject to scrutiny by our Panel of doctors at the laboratory before release. Subsequent to this the results will be sent out to the QA department for review. 

                    <br><br>The validated test report showcasing the results for each parameter will be made available in 5 working days from day of receipt of the sample at our laboratory. 
                    
                    <br><br>The report is quite comprehensive and will showcase the result for each condition that is being screened. The report will also mention the acceptable value range for each such parameter for easy understanding by the parent. 
                    
                    <br><br>In case the results are positive for any of the tested conditions, a confirmatory test would be required to reconfirm presence of the condition before enabling any treatment.
                    
                    <br><br>The reports will be couriered to the registered address of the parent. In case of positive finding, our clinical counselors will speak to the parent and best efforts will be made to communicate this to your Physician if you have provided the complete details of your physician to us at the time of enrolment.                    
                </p>
                <div class="p-header">Treatment Counselling</div>
                <p>If your baby’s newborn screening test results indicate positive findings this identifies an increased risk for one of the screened conditions. In such cases, our Specialist from laboratory will contact one of our Panel pediatrician / neonatologist in your city. Alternatively we will inform your Physician based on the details you had provided to us at the time of enrolment, Hence it is important to make sure that the correct name of the doctor, is written on the enrolment form at the time of signing up for the service. 

                    <br><br>Your physician will then guide you through the course of counseling and treatment required for your baby.
                </p>
            </div>
            <!-- <div class="col-md-4 needinfo-col">
                <app-needmoreinfo [pageName]="'surgery'"></app-needmoreinfo>
            </div> -->
        </div>
    </div>
</div>