<div class="pharmacy-main">
    <app-breadcrum></app-breadcrum>

    <div class="flexslider">
        <ul class="slides">
            <li>
                <img src="assets/img/facilities/facilities_room/banner/pharmacy1.jpg" />
            </li>
            <li>
                <img src="assets/img/facilities/facilities_room/banner/pharmacy2.jpg" />
            </li>
            <!-- <li>
                <img src="assets/img/facilities/facilities_room/banner/banner3.jpg" />
            </li> -->
        </ul>
    </div>

    <div class="facilities-outer-div">
        <div class="row facilities-info ">
            <div class="col-md-8 pdl0">
                <p>Dhanvantri Pharmacy, managed by Chitresh Agrawal, is round the clock medicine service available to
                    the indoor patients.</p>
                <p>All critical drugs are available at the pharmacy.</p>
                <p>Pharmacy also caters to the need of surrounding area requirements for medicine through its Home
                    Delivery facility at no extra cost.</p>
            </div>
            <!-- <div class="col-md-4 needinfo-col">
                <app-needmoreinfo [pageName]="'pharmacy'"></app-needmoreinfo>
            </div> -->
        </div>
    </div>
</div>