$primary-color: #f99b2f;
$secondary-color: #255471;

/*color palette*/

$white: #ffffff;
$black: #000000;
$green: #43b51f;
$sky-blue: #3ea6f5;
$header: #101010;
$grey: #495057;
$dark-grey: #4a4848;
$light-grey: #888383;
$red: #ff0000;