<div class="row page-main-banner page-header-banner-img">
    <div class="col-12 facilities-txt">
        <div class="animate__animated animate__backInLeft">
            <div class="big-facilities-txt">Specialities</div>
            <div class="small-facilities-txt">Sanjeevani specializes in a number of surgeries and treatments such as
                cancer care and cardiac care.</div>
            <!-- <div class="small-facilities-txt">We also offer screening of new born babies to ensure the wellness of your
                baby at an early stage.</div>-->
        </div>
    </div>
</div>
<router-outlet></router-outlet>