<div class="room-main">
    <app-breadcrum ></app-breadcrum>
    <div class="flexslider">
        <ul class="slides">
            <li>
                <img src="assets/img/facilities/facilities_room/banner/room1.jpg" />
            </li>
            <li>
                <img src="assets/img/facilities/facilities_room/banner/room2.jpg" />
            </li>
            <!-- <li>
                <img src="assets/img/facilities/facilities_room/banner/banner3.jpg" />
            </li> -->
        </ul>
    </div>

    <div class="commom-padding">
        <div class="room-header">
            Sanjeevani Hospital caters in total 100 rooms maintaining high standard hygiene & ultra modern equipments &
            facilities.
        </div>

        <div class="room-outer-div">
            <div class="row title-header room-title">
                Suite Class - 4 Beds
            </div>
            <div class="row img-div notop-border-row bottom-margin">
                <div class="col-md-6 facilities-room1"></div>
                <div class="col-md-6 facilities-room1-txt">
                    <div class="title-subheader-bold fac-subheader-txt">Facilities</div>
                    <ul class="sub-header">
                        <li>Motorized Bed with round the clock cardiac monitor</li>
                        <li>Centralized Oxygen /suction facility Air condition</li>
                        <li>LCD TV with Cable Channels</li>
                        <li>Telephone </li>
                        <li>Seperate Wardrobe</li>
                        <li>Attached Rest room</li>
                        <li>Suction Facility</li>
                    </ul>

                </div>
            </div>

            <div class="row title-header room-title">
                Deluxe / First Class - 12 Beds
            </div>
            <div class="row img-div notop-border-row bottom-margin">
                <div class="col-md-6 facilities-room2"></div>
                <div class="col-md-6 facilities-room1-txt">
                    <div class="title-subheader-bold fac-subheader-txt">Facilities</div>
                    <ul class="sub-header">
                        <li>Motorized Bed with round the clock cardiac monitor</li>
                        <li>Centralized Oxygen /suction facility Air condition</li>
                        <li>LCD TV with Cable Channels</li>
                        <li>Telephone </li>
                        <li>Seperate Wardrobe</li>
                        <li>Attached Rest room</li>
                        <li>Suction Facility</li>
                    </ul>
                </div>
            </div>

            <div class="row title-header room-title">
                ICCU - 18 Beds
            </div>
            <div class="row img-div notop-border-row bottom-margin">
                <div class="col-md-6 facilities-room3"></div>
                <div class="col-md-6 facilities-room1-txt">
                    <div class="title-subheader-bold fac-subheader-txt">Facilities</div>
                    <ul class="sub-header">
                        <li>Motorized Bed with round the clock cardiac monitor</li>
                        <li>Centralized Oxygen /suction facility Air condition</li>
                        <li>LCD TV with Cable Channels</li>
                        <li>Telephone </li>
                        <li>Seperate Wardrobe</li>
                        <li>Attached Rest room</li>
                        <li>Suction Facility</li>
                    </ul>

                </div>
            </div>

            <div class="row title-header room-title">
                Male General Ward - 18 Beds
            </div>
            <div class="row img-div notop-border-row bottom-margin">
                <div class="col-md-6 facilities-room1"></div>
                <div class="col-md-6 facilities-room1-txt">
                    <div class="title-subheader-bold fac-subheader-txt">Facilities</div>
                    <ul class="sub-header">
                        <li>Motorized Bed with round the clock cardiac monitor</li>
                        <li>Centralized Oxygen /suction facility Air condition</li>
                        <li>LCD TV with Cable Channels</li>
                        <li>Telephone </li>
                        <li>Seperate Wardrobe</li>
                        <li>Attached Rest room</li>
                        <li>Suction Facility</li>
                    </ul>
                </div>
            </div>

            <div class="row title-header room-title">
                Female General Ward - 11 Beds
            </div>
            <div class="row img-div notop-border-row bottom-margin">
                <div class="col-md-6 facilities-room1"></div>
                <div class="col-md-6 facilities-room1-txt">
                    <div class="title-subheader-bold fac-subheader-txt">Facilities</div>
                    <ul class="sub-header">
                        <li>Motorized Bed with round the clock cardiac monitor</li>
                        <li>Centralized Oxygen /suction facility Air condition</li>
                        <li>LCD TV with Cable Channels</li>
                        <li>Telephone </li>
                        <li>Seperate Wardrobe</li>
                        <li>Attached Rest room</li>
                        <li>Suction Facility</li>
                    </ul>
                </div>
            </div>

            <div class="row title-header room-title">
                Twin Sharing - 11 Beds
            </div>
            <div class="row img-div notop-border-row bottom-margin">
                <div class="col-md-6 facilities-room1"></div>
                <div class="col-md-6 facilities-room1-txt">
                    <div class="title-subheader-bold fac-subheader-txt">Facilities</div>
                    <ul class="sub-header">
                        <li>Motorized Bed with round the clock cardiac monitor</li>
                        <li>Centralized Oxygen /suction facility Air condition</li>
                        <li>LCD TV with Cable Channels</li>
                        <li>Telephone </li>
                        <li>Seperate Wardrobe</li>
                        <li>Attached Rest room</li>
                        <li>Suction Facility</li>
                    </ul>
                </div>
            </div>

            <div class="row title-header room-title">
                Second Class - 24 Beds
            </div>
            <div class="row img-div notop-border-row bottom-margin">
                <div class="col-md-6 facilities-room1"></div>
                <div class="col-md-6 facilities-room1-txt">
                    <div class="title-subheader-bold fac-subheader-txt">Facilities</div>
                    <ul class="sub-header">
                        <li>Motorized Bed with round the clock cardiac monitor</li>
                        <li>Centralized Oxygen /suction facility Air condition</li>
                        <li>LCD TV with Cable Channels</li>
                        <li>Telephone </li>
                        <li>Seperate Wardrobe</li>
                        <li>Attached Rest room</li>
                        <li>Suction Facility</li>
                    </ul>
                </div>
            </div>

            <div class="row title-header room-title">
                Dialysis Center - 4 Beds
            </div>
            <div class="row img-div notop-border-row bottom-margin">
                <div class="col-md-6 facilities-room1"></div>
                <div class="col-md-6 facilities-room1-txt">
                    <div class="title-subheader-bold fac-subheader-txt">Facilities</div>
                    <ul class="sub-header">
                        <li>Motorized Bed with round the clock cardiac monitor</li>
                        <li>Centralized Oxygen /suction facility Air condition</li>
                        <li>LCD TV with Cable Channels</li>
                        <li>Telephone </li>
                        <li>Seperate Wardrobe</li>
                        <li>Attached Rest room</li>
                        <li>Suction Facility</li>
                    </ul>
                </div>
            </div>

            <div class="row title-header room-title">
                Recovery Room - 2 Beds
            </div>
            <div class="row img-div notop-border-row bottom-margin">
                <div class="col-md-6 facilities-room1"></div>
                <div class="col-md-6 facilities-room1-txt">
                    <div class="title-subheader-bold fac-subheader-txt">Facilities</div>
                    <ul class="sub-header">
                        <li>Motorized Bed with round the clock cardiac monitor</li>
                        <li>Centralized Oxygen /suction facility Air condition</li>
                        <li>LCD TV with Cable Channels</li>
                        <li>Telephone </li>
                        <li>Seperate Wardrobe</li>
                        <li>Attached Rest room</li>
                        <li>Suction Facility</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>