<div>
    <div class="patient-guide-header">Food</div>
    <hr class="txt-underline">
    <div class="patient-guide-sub-header">
        The hospital kitchen is equipped to serve well-balanced vegetarian meals.
    </div>

    <div class="patient-guide-header">Housekeeping</div>
    <hr class="txt-underline">
    <ul>
        <li>Consumption of tobacco in any form, e.g. cigarettes, gutkha, pan, strictly prohibited in the Hospital premises.</li>
        <li>A hygienic environment is essential for your health; help us to maintain our standards. Keep the toilets clean and dry.</li>
        <li>Use the dustbins for disposal of any waste.</li>
        <li>Tips or gratitude to the staff will not be accepted by staff. If you wish to pay gratitude, for the good services rendered
            to you, please handover the same to responsible person in closed envelope.or put in staff welfare box.</li>
    </ul>
</div>