<!--banner silder-->
<div id="main-banner" class="flexslider">
    <ul class="slides">
        <li (click)="navigateBySliderClick('covid-19')">
            <img src="assets/img/slider/covid19_banner.jpg" />
        </li>
        <li>
            <img src="assets/img/slider/banner_icu.jpg" />
        </li>
        <li>
            <img src="assets/img/slider/banner_reception.jpg" />
        </li>
        <li>
            <img src="assets/img/slider/banner_healthcheckup.jpg" />
        </li>
    </ul>
</div>
<!--/banner silder-->
<div class="container-fluid">
    <!--About-->
    <div class="row about">
        <div class="col-12 no-padding-mobile">
            <div class="row about-top text-center">
                <div class="col-lg-7 col-xl-8 fnt-covid">
                    <h2>Covid-19 - Treatment</h2>
                    <p>Sanjeevani Hospital provides excellent care for Covid-19 patients. </p>
                    <p>We have Covid Special Wards and top of the line ICU facilities available for our patients.
                        For more information, please reach out to us on below number.</p>
                    <div class="covid-svg-div">
                        <div class="flex-col-center">
                            <div class="covid-svg">
                                <img class="svg-img" src="assets/img/about/hospital-bed.svg">
                            </div>
                            <div>100 Beds</div>
                        </div>
                        <div class="flex-col-center">
                            <div class="covid-svg">
                                <img class="svg-img" src="assets/img/about/icu.svg">
                            </div>
                            <div>18 ICU</div>
                        </div>
                        <div class="flex-col-center">
                            <div class="covid-svg">
                                <img class="svg-img" src="assets/img/about/patients.svg">
                            </div>
                            <div>1500+ Treated</div>
                        </div>
                    </div>
                    <a href="tel:02228445678"><button type="button" class="btn btn-primary">CALL: 022 2844
                            5678</button></a>
                </div>
                <div class="col-lg-5 col-xl-4 d-none d-lg-block d-xl-block working-hours">
                    <h2>Covid-19 - Vaccine</h2>
                    <p>
                        Sanjeevani Hospital is authorized by Cowin to provide Covid-19 vaccines to all registered
                        individuals as per their allocated bookings. To book a slot at Sanjeevani:
                    </p>
                    <div>Register on Co-Win or Aarogya Setu App</div>
                    <div>Search by Pin: 400097</div>
                    <div>Select a slot on any available day</div>
                    <button class="btn btn-secondary mt-3 view-timetable">
                        <a href="https://selfregistration.cowin.gov.in/" target="_blank"
                            style="color: white; text-decoration: none;">Book Slot Now</a>
                    </button>
                </div>
            </div>

        </div>
        <div class="row about-bottom" style="overflow-x: hidden;">
            <div id="home-about-img" class="col-lg-6 d-md-block d-none">
                <img src="../../../assets/img/about/about_sanjeevani_front.png" alt="About Sanjeevani Hospital"
                    class="img-fluid display-n">
            </div>
            <div id="home-about-txt" class="col-lg-6">
                <div class="d-md-block d-none">
                    <!-- for desktop as it contains animation-->
                    <div class="about-div display-n">
                        <div class="m-0 about-txt">About Sanjeevani Hospital</div>
                        <div class="care-txt">Care beyond Cure</div>
                        <p>Established in 1999 with the sole aim of providing excellent medical treatment at affordable
                            price
                            Sanjeevani surgical and General Hospital is the brain child of its Founder and Medical
                            Director
                            Dr.
                            Sunil Agrawal. The name "SANJEEVANI"
                            is inspired from the name of Dr. Sunil Agrawal’s mother & also the life saving herb in
                            Ayurveda.
                        </p>
                        <p>
                            Sanjeevani hospital aspires to be a highly effective professional organization devoted to
                            ensuring
                            and striving to improve the health status of our community.</p>
                    </div>
                </div>
                <div class="about-div d-block d-md-none">
                    <!-- for mobile with no animation-->
                    <div class="m-0 about-txt">About Sanjeevani Hospital</div>
                    <div class="care-txt">Care beyond Cure</div>
                    <p>Established in 1999 with the sole aim of providing excellent medical treatment at affordable
                        price
                        Sanjeevani surgical and General Hospital is the brain child of its Founder and Medical Director
                        Dr.
                        Sunil Agrawal. The name "SANJEEVANI"
                        is inspired from the name of Dr. Sunil Agrawal’s mother & also the life saving herb in Ayurveda.
                    </p>
                    <p>
                        Sanjeevani hospital aspires to be a highly effective professional organization devoted to
                        ensuring
                        and striving to improve the health status of our community.</p>
                </div>
            </div>
        </div>
        <div class="backdrop"></div>
    </div>
    <!--About-->
    <!--Facilities-->
    <div class="row facilities-txt">
        <div class="facilities-row col-sm-6 mb-3">
            <div class="row display-n">
                <div class="col-md-4 custom-hv-align ">
                    <div class="img-cntr">
                        <img src="../../../assets/img/facilities/cancer_care.png" alt="Cancer Care" title="Cancer Care"
                            class="img-fluid">
                    </div>
                </div>
                <div class="col-md-8">
                    <h2>Cancer Care</h2>
                    <p>Cancer is treated through Chemotherapy, Radiation therapy, or Surgical Oncology. We focus on
                        Comprehensive Cancer care in all sub-specialities and are supervised by Eminent Panel of
                        Experts.</p>
                </div>
            </div>
        </div>
        <div class="facilities-row col-sm-6 mb-3">
            <div class="row display-n">
                <div class="col-md-4 custom-hv-align ">
                    <div class="img-cntr">
                        <img src="../../../assets/img/facilities/cardiac_care.png" alt="Cardiac Care"
                            title="Cardiac Care" class="img-fluid">
                    </div>
                </div>
                <div class="col-md-8">
                    <h2>Cardiac Care</h2>
                    <p>At Sanjeevani, we will treat your heart problems while staying aware of other conditions,
                        including
                        high blood pressure, high Cholesterol, diabetes and other factors that risk damaging the heart.
                    </p>
                </div>
            </div>
        </div>
        <div class="facilities-row col-sm-6 mb-3">
            <div class="row display-n">
                <div class="col-md-4 custom-hv-align ">
                    <div class="img-cntr">
                        <img src="../../../assets/img/facilities/covidtreatment.png" alt="Covid Treatment"
                            title="Covid Treatment" class="img-fluid">
                    </div>
                </div>
                <div class="col-md-8">
                    <h2>Covid Treatment</h2>
                    <p>With around 100 beds and 18 ICU facilities, we provide excellent all-round care for all Covid
                        patients and ensure that all protocols are deligently followed for faster relief.
                    </p>
                </div>
            </div>
        </div>
        <div class="facilities-row col-sm-6 mb-3">
            <div class="row display-n">
                <div class="col-md-4 custom-hv-align ">
                    <div class="img-cntr">
                        <img src="../../../assets/img/facilities/new_born_screening.png" alt="Maternity Home"
                            title="Maternity Home" class="img-fluid">
                    </div>
                </div>
                <div class="col-md-8">
                    <h2>Maternity Home</h2>
                    <p>If you are planning for a baby, you will want to have the best of everything and it starts with
                        your choice of doctors and hospitals. This is why many couples choose to have their baby at
                        "Sanjeevani hospital."</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row facilities-img text-center">
        <div class="col-12 facilities-img-dt d-none d-lg-block d-xl-block" id="fac-img-animation">
            <div class="row display-n">
                <div class="col-lg-3 img-bx" (click)="navigateToFacilities('op')">
                    <h2>Operation Theatre</h2>
                    <div class="circlebox">
                        <img src="../../../assets/img/facilities/surgery.png" alt="op" title="op" class="facilityimg">
                    </div>
                </div>
                <div class="col-lg-3 img-bx" (click)="navigateToFacilities('pathology')">
                    <h2>Pathology</h2>
                    <div class="circlebox">
                        <img src="../../../assets/img/facilities/pathology.png" alt="Pathology" title="Pathology"
                            class="facilityimg">
                    </div>
                </div>
                <div class="col-lg-3 img-bx" (click)="navigateToFacilities('dialysis')">
                    <h2>Dialysis</h2>
                    <div class="circlebox">
                        <img src="../../../assets/img/facilities/dialysis.png" alt="Dialysis" title="Dialysis"
                            class="facilityimg">
                    </div>
                </div>
                <div class="col-lg-3 img-bx" (click)="navigateToFacilities('bloodbank')">
                    <h2>Blood Bank</h2>
                    <div class="circlebox">
                        <img src="../../../assets/img/facilities/blood_bank.png" alt="Blood Bank" title="Blood Bank"
                            class="facilityimg">
                    </div>
                </div>
            </div>
            <div class="row display-n">
                <div class="col-lg-3 img-bx" (click)="navigateToFacilities('icu')">
                    <h2>ICU</h2>
                    <div class="circlebox">
                        <img src="../../../assets/img/facilities/icu.png" alt="ICU" title="ICU" class="facilityimg">
                    </div>
                </div>
                <div class="col-lg-3 img-bx" (click)="navigateToFacilities('maternity')">
                    <h2>Maternity</h2>
                    <div class="circlebox">
                        <img src="../../../assets/img/facilities/maternity.png" alt="Maternity" title="Maternity"
                            class="facilityimg">
                    </div>
                </div>
                <div class="col-lg-3 img-bx" (click)="navigateToFacilities('xray')">
                    <h2>X-Ray</h2>
                    <div class="circlebox">
                        <img src="../../../assets/img/facilities/x_ray.png" alt="X-Ray" title="X-Ray"
                            class="facilityimg">
                    </div>
                </div>
                <div class="col-lg-3 img-bx" (click)="navigateToFacilities('room')">
                    <h2>Rooms</h2>
                    <div class="circlebox">
                        <img src="../../../assets/img/facilities/rooms.png" alt="Rooms" title="Rooms"
                            class="facilityimg">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 facilities-img-mb d-block d-md-none">
            <div id="facilities-banner" class="flexslider">
                <ul class="slides">
                    <li>
                        <img src="../../../assets/img/facilities/surgery.png" />
                        <div class="flex-caption slider-caption">
                            Surgery
                        </div>
                    </li>
                    <li>
                        <img src="../../../assets/img/facilities/pathology.png" />
                        <div class="flex-caption slider-caption">
                            Pathology
                        </div>
                    </li>
                    <li>
                        <img src="../../../assets/img/facilities/dialysis.png" />
                        <div class="flex-caption slider-caption">
                            Dialysis
                        </div>
                    </li>
                    <li>
                        <img src="../../../assets/img/facilities/blood_bank.png" />
                        <div class="flex-caption slider-caption">
                            Blood Bank
                        </div>
                    </li>
                    <li>
                        <img src="../../../assets/img/facilities/icu.png" />
                        <div class="flex-caption slider-caption">
                            ICU
                        </div>
                    </li>
                    <li>
                        <img src="../../../assets/img/facilities/maternity.png" />
                        <div class="flex-caption slider-caption">
                            Maternity
                        </div>
                    </li>
                    <li>
                        <img src="../../../assets/img/facilities/x_ray.png" />
                        <div class="flex-caption slider-caption">
                            X-Ray
                        </div>
                    </li>
                    <li>
                        <img src="../../../assets/img/facilities/rooms.png" />
                        <div class="flex-caption slider-caption">
                            Rooms
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="backdrop"></div>
    </div>
    <!--/Facilities-->
    <!--Our Team-->
    <div class="row text-center">
        <div class="col-12 our-team">
            <h2>Meet Our Experts</h2>
            <p>Sanjeevani is a 100 beded hospital by Dr Sunil Agrawal, who is supported by Dr Shyam Agrawal.</p>
            <p>Dr. Shyam Agrawal is a mentor and guide of Dr. Sunil Agrawal.</p>
            <p>Dr Rajesh Binyala (Physician, Cardiologist) is his partners in this
                venture.
            </p>

            <div class="row meet-team" style="overflow:hidden">
                <div class="col-md-6 doctors-row">
                    <div class="display-n">
                        <div class="img-cntr">
                            <img src="../../../assets/img/our-team/DrSunilA.jpg" alt="Dr. Sunil Agrawal"
                                title="Dr. Sunil Agrawal" class="img-fluid rounded-circle">
                            <span class="icon"><img src="../../../assets/img/our-team/scalpel.png" alt=""
                                    title=""></span>
                        </div>
                        <h4>Dr. Sunil Agrawal</h4>
                        <h5>Cancer and Laparoscopic Surgeon</h5>
                        <p class="m-3">Dr. Sunil Chandrabhan Agrawal completed MBBS from Bombay University in October
                            1990 &
                            did his Post Graduation in Master of Surgery from Tata Memorial Hospital in 1996.</p>
                    </div>
                </div>
                <div class="col-md-6 doctors-row">
                    <div class="display-n">
                        <div class="img-cntr">
                            <img src="../../../assets/img/our-team/DrRajeshB.jpg" alt="Dr. Rajesh Binyala"
                                title="Dr. Rajesh Binyala" class="img-fluid rounded-circle">
                            <span class="icon"><img src="../../../assets/img/our-team/heart.png" alt="" title=""></span>
                        </div>
                        <h4>Dr. Rajesh Binyala</h4>
                        <h5>Cardiology and Physician</h5>
                        <p class="m-3">Dr. Rajesh Binyala completed MBBS from Bombay University in October 1990 & did
                            his
                            Post Graduation in MD from Nair Hospital (Mumbai University) in 1995.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/Our Team-->
    <!--Reviews-->
    <div class="row review-border">
        <div class="col-md-4 col-12">
            <div class="padding">
                <div class="consul-text">
                    CONSULTANTS
                </div>
                <div class="d-flex justify-content-center" *ngIf="loadingConsultant">
                    <div class="spinner-border spinner-height-width text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <div class="consultant-main-div">
                    <ng-container *ngFor="let item of facilities">
                        <div class="consultent" (click)="getReview(item)"
                            [ngClass]="{'selected':selectedConsultant && selectedConsultant.RecordId==item.RecordId}">
                            {{item.Name}}
                            <div class="float-right"><i class="d-md-block d-none material-icons">keyboard_arrow_right
                                </i>
                                <i class="d-block d-md-none material-icons">
                                    {{selectedConsultant && selectedConsultant.RecordId==item.RecordId?'keyboard_arrow_down':'keyboard_arrow_right'}}
                                </i>
                            </div>
                        </div>
                        <div class="row d-md-none d-block">
                            <div *ngIf="selectedConsultant && selectedConsultant.RecordId==item.RecordId"
                                class="col-12 review-section">
                                <div class="d-flex justify-content-center spindiv-height" *ngIf="loadingReviews">
                                    <div class="spinner-border spinner-height-width text-primary" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </div>
                                <div *ngIf="patientReviews">
                                    <ng-container *ngTemplateOutlet="reviewTemplate">

                                    </ng-container>
                                </div>

                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-12 review-section d-none d-md-block">
            <div class="d-flex justify-content-center spindiv-height" *ngIf="loadingReviews">
                <div class="spinner-border spinner-height-width text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <div *ngIf="patientReviews">
                <ng-container *ngTemplateOutlet="reviewTemplate">

                </ng-container>
            </div>
        </div>
    </div>
    <!--/Reviews-->
    <!--Statistics-->
    <div class="row text-center">
        <div class="col-12 statistics " id="figures">
            <div class="row align-items-center h-100" *ngIf="showFigCounter">
                <div class="col-sm-6 col-lg-3 my-4">
                    <span class="white-txt" counto [step]="20" [countTo]="1999" [countFrom]="100" [duration]="3"
                        (countoChange)="establishedValue = $event">{{math.trunc(establishedValue)}}</span>
                    <span class="orange-txt">Established <br> Year</span>
                </div>
                <div class="col-sm-6 col-lg-3 my-4">
                    <span class="white-txt" counto [step]="5" [countTo]="39" [countFrom]="1" [duration]="2"
                        (countoChange)="qualDocValue = $event">{{math.trunc(qualDocValue)}}</span>
                    <span class="orange-txt">Qualified <br> Doctors</span>
                </div>
                <div class="col-sm-6 col-lg-3 my-4">
                    <span class="white-txt" counto [step]="20" [countTo]="978" [countFrom]="100" [duration]="3"
                        (countoChange)="surgeriesValue = $event">{{math.trunc(surgeriesValue)}}+</span>
                    <span class="orange-txt">Surgeries <br> Performed</span>
                </div>
                <div class="col-sm-6 col-lg-3 my-4">
                    <span class="white-txt" counto [step]="20" [countTo]="2458" [countFrom]="500" [duration]="3"
                        (countoChange)="satPatValue = $event">{{math.trunc(satPatValue)}}+</span>
                    <span class="orange-txt">Satisfied <br> Patients</span>
                </div>
            </div>
            <div class="backdrop"></div>
        </div>
    </div>
    <!--/Statistics-->
    <!--Latest News-->
    <div class="row latest-news">
        <div class="col-lg-6 p-0 latest-news-bg">
            <div>
                <div style="font-weight: 500; font-size: 26px;padding-left: 25px;padding-top: 10px;">Google Reviews
                </div>
                <div>
                    <img src="../../../assets/img/SanjeevaniGoogleReview.jpg" alt="HospitalHeader"
                        title="Sanjeevani Hospital Reviews" class="d-none d-md-block">
                    <img src="../../../assets/img/SanjeevaniGoogleReview_Mobile.jpg" alt="HospitalHeader"
                        title="Sanjeevani Hospital Reviews" class="d-block d-md-none">
                </div>
                <div class="d-flex">
                    <button class="btn btn-news">
                        <a href="https://www.google.com/maps/place/Sanjeevani+Hospital+Malad+East/@19.1845916,72.8527984,15z/data=!4m7!3m6!1s0x0:0xca1980df9e186189!8m2!3d19.1845916!4d72.8527984!9m1!1b1"
                            target="_blank">Write Google Review</a>
                    </button>
                    <button class="btn btn-news">
                        <a href="https://goo.gl/maps/3Rdqn2kWQXviTAFc7" target="_blank">See All Google Reviews</a>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-lg-6 p-0 d-none d-lg-block d-xl-block">
            <div class="row text-center no-gutters">
                <div class="col-lg-6">
                    <img src="../../../assets/img/news/best_treatment.jpg" alt="Best Treatment" title="Best Treatment"
                        class="img">
                </div>
                <div class="col-lg-6 align-self-center">
                    <span>Best</span>
                    <span class="bold-txt">Treatment</span>
                </div>
                <div class="col-lg-6 align-self-center">
                    <span>Qualified</span>
                    <span class="bold-txt">Doctors</span>
                </div>
                <div class="col-lg-6">
                    <img src="../../../assets/img/news/qualified_doc.jpg" alt="Qualified Doctors"
                        title="Qualified Doctors" class="img">
                </div>
                <div class="col-lg-6">
                    <img src="../../../assets/img/news/emergency_help.jpg" alt="Emergency Help" title="Emergency Help"
                        class="img">
                </div>
                <div class="col-lg-6 align-self-center">
                    <span>Emergency</span>
                    <span class="bold-txt">Help</span>
                </div>
                <div class="col-lg-6 align-self-center">
                    <span>Cashless</span>
                    <span class="bold-txt">Mediclaim</span>
                </div>
                <div class="col-lg-6">
                    <img src="../../../assets/img/news/cashless_mediclaim.jpg" alt="Cashless Mediclaim"
                        title="Cashless Mediclaim" class="img">
                </div>
            </div>
        </div>
    </div>
    <!--/Latest News-->
    <!--Reviews Template-->
    <ng-template #reviewTemplate>
        <div *ngFor="let patRev of patientReviews">
            <div class="doctor-name">
                {{patRev?.DoctorName}}
            </div>
            <div class="doctor-desig">
                {{selectedConsultant?.Name}}
            </div>
            <div class="doctor-desig">
                {{patRev?.Degree}}
            </div>
            <hr class="doctor-hr">
            <div *ngIf=" patRev && patRev.Reviews">
                <div class="reviews" *ngFor="let item of patRev.Reviews">
                    <div class="review-brief mb-6">
                        {{item.Title}}
                    </div>
                    <div class="review-star mb-6">
                        <div class="float-left mr-10">
                            <ng-container *ngFor='let in of ratingCount;let i = index'>
                                <i class="material-icons star-color" *ngIf="i<item.Rating;else noStar">
                                    grade
                                </i>
                                <ng-template #noStar>
                                    <i class="material-icons">
                                        grade
                                    </i>
                                </ng-template>
                            </ng-container>
                        </div>
                        <div class="float-left mr-10 mtp-3">
                            By: <span class="by-color">{{item.PatientName}}</span>
                        </div>
                        <div class="float-left mtp-3">({{item.CreateDate | date:'dd/MM/yyyy'}})</div>
                    </div>
                    <div class="clear review-text">
                        {{item.Review}}
                    </div>
                </div>

            </div>
            <div class="doctor-all-review-btn">
                <button type="button" class="btn btn-primary" (click)="loadReviews(patRev.DoctorRecordId)">
                    See all reviews of DR.{{patRev?.DoctorName}}
                </button>
            </div>
        </div>
        <div class="doctor-desig pb-20" *ngIf="!patientReviews || patientReviews.length==0">
            No reviews available for {{selectedConsultant?.Name}}
        </div>
        <div class="see-all-review-btn" *ngIf="patientReviews && patientReviews.length>0">
            <button type="button" class="btn btn-primary" (click)="navigateToDoctorReview(selectedConsultant.RecordId)">
                View all reviews
            </button>
        </div>
    </ng-template>
    <!--/Reviews Template-->
</div>