<div class="xray-main">
    <app-breadcrum></app-breadcrum>

    <div class="flexslider">
        <ul class="slides">
            <li>
                <img src="assets/img/facilities/facilities_room/banner/xray1.jpg" />
            </li>
            <li>
                <img src="assets/img/facilities/facilities_room/banner/op1.jpg" />
            </li>
            <!-- <li>
                <img src="assets/img/facilities/facilities_room/banner/banner3.jpg" />
            </li> -->
        </ul>
    </div>

    <div class="facilities-outer-div">
        <div class="row facilities-info ">
            <div class="col-md-8 pdl0">
                <div class="title-subheader-bold fac-xray-txt">Facilities Available</div>
                <ul class="sub-header">
                    <li>Digital X-ray & Procedures</li>
                    <li>High End Philips Whole Body Sonography & Colour Doppler</li>
                    <li>Obstetric Sonography / Anomaly Scan (Level III) / 3D/4D Sonography</li>
                    <li>3-12 MHZ & 3-9 MHZ Linear probes for Vascular, small parts and excellent Pediatric Body Imaging </li>
                    <li>2-D and Colour Adult Echocardiography</li>
                    <li>Fetal and pediatric Colour Echocardiography </li>
                    <li>U S G Guided procedures - F.N.A.C. / Biopsies / Tapppings and Drainage procedures, Pig Tailing</li>
                </ul>
                
            </div>
            <!-- <div class="col-md-4 needinfo-col">
                <app-needmoreinfo [pageName]="'xray'"></app-needmoreinfo>
            </div> -->
        </div>
    </div>
</div>