<div class="facilities-all">
    <app-breadcrum ></app-breadcrum>

    <div class="commom-padding">
        <div class="row" id="first-fac-row">
            <div class="col-md-4 pad35 display-n">
                <div class="facilities-types" (click)="navigateToFacilities('room')">
                    <div class="facilities-firsthalf facilities-room-img"></div>
                    <div class="facilities-secondhalf">
                        <div class="fac-header">Rooms</div>
                        <div class="fac-subheader">Sanjeevani Hospital caters in total 100
                            rooms maintaining high standard
                            hygiene & ultra modern equipments &
                            facilities.</div>
                        <div class="learn-more" >Learn More</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 pad35 display-n">
                <div class="facilities-types" (click)="navigateToFacilities('pathology')">
                    <div class="facilities-firsthalf facilities-pathology-img"></div>
                    <div class="facilities-secondhalf">
                        <div class="fac-header">Pathology</div>
                        <div class="fac-subheader"> The Pathology Laboratory at Sanjeevani is
                            fully automated and has state-of-the-art
                            equipment that analyses all blood and body
                            fluid parameters.</div>
                        <div class="learn-more" >Learn More</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 pad35 display-n">
                <div class="facilities-types" (click)="navigateToFacilities('dialysis')">
                    <div class="facilities-firsthalf facilities-dialysis-img"></div>
                    <div class="facilities-secondhalf">
                        <div class="fac-header">Dialysis</div>
                        <div class="fac-subheader">The Dialysis unit has 3 dedicated beds,
                            and is under constant supervision by well
                            trained Dialysis Technicians and
                            Doctors.</div>
                        <div class="learn-more">Learn More</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row top-margin" id="second-fac-row">
            <div class="col-md-4 pad35 display-n">
                <div class="facilities-types" (click)="navigateToFacilities('icu')">
                    <div class="facilities-firsthalf facilities-icu-img"></div>
                    <div class="facilities-secondhalf">
                        <div class="fac-header">ICU / ICCU</div>
                        <div class="fac-subheader">The ICU units are designed to deliver the
                            highest of medical and nursing care to the
                            sickest of patients. Each year hundreds of
                            patients are admitted in the ICU.</div>
                        <div class="learn-more">Learn More</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 pad35 display-n">
                <div class="facilities-types" (click)="navigateToFacilities('maternity')">
                    <div class="facilities-firsthalf facilities-maternity-img"></div>
                    <div class="facilities-secondhalf">
                        <div class="fac-header">Maternity Home</div>
                        <div class="fac-subheader">If you are planning for a baby, you will want
                            to have the best of everything and it starts
                            with our choice of doctors and hospitals.
                            Find out why Sanjeevani is the best.
                        </div>
                        <div class="learn-more">Learn More</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 pad35 display-n">
                <div class="facilities-types" (click)="navigateToFacilities('op')">
                    <div class="facilities-firsthalf facilities-op-img"></div>
                    <div class="facilities-secondhalf">
                        <div class="fac-header">Operation Theatre</div>
                        <div class="fac-subheader">Doctors associated with Sanjeevani are
                            highly trained professionals, offering you
                            the best quality treatment services for all
                            types of surgeries
                        </div>
                        <div class="learn-more">Learn More</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row top-margin bottom-margin" id="third-fac-row">
            <div class="col-md-4 pad35 display-n">
                <div class="facilities-types" (click)="navigateToFacilities('bloodbank')">
                    <div class="facilities-firsthalf facilities-bb-img"></div>
                    <div class="facilities-secondhalf">
                        <div class="fac-header">Blood Bank</div>
                        <div class="fac-subheader">Managed by Borivali Blood Storage Bank 24
                            Hours Blood Bank facility available.
                            Other facilities like Platelette, Plasma &
                            Cryoprecipitate also available.</div>
                        <div class="learn-more">Learn More</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 pad35 display-n">
                <div class="facilities-types" (click)="navigateToFacilities('pharmacy')">
                    <div class="facilities-firsthalf facilities-pharmacy-img"></div>
                    <div class="facilities-secondhalf">
                        <div class="fac-header">Pharmacy</div>
                        <div class="fac-subheader">Dhanvantri Pharmacy managed by Chitresh
                            Agrawal is round the clock medicine
                            service available to the indoor patients. All
                            critical drugs are available at the pharmacy.
                        </div>
                        <div class="learn-more">Learn More</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 pad35 display-n">
                <div class="facilities-types" (click)="navigateToFacilities('xray')">
                    <div class="facilities-firsthalf facilities-xray-img"></div>
                    <div class="facilities-secondhalf">
                        <div class="fac-header">X-Ray</div>
                        <div class="fac-subheader">Sanjeevani provides Digital X-ray &
                            Procedures using its High End Wipro GE
                            Whole Body Sonography & Colour Doppler.
                        </div>
                        <div class="learn-more">Learn More</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>