<div>
    <div class="patient-guide-header">Mediclaim Documents</div>
    <hr class="txt-underline">
    <div class="patient-guide-sub-header">
        Patient should carry following Documents to expedient Mediclaim Procedure:
    </div>
    <ul>
        <li> All your policy copies in original</li>
        <li>Photo ID proof & Residential Proof</li>
        <li>Details of past hospitalization (if any) with discharge card / bill etc</li>
        <li>All past & present medical reports & case files</li>
    </ul>
    <div class="patient-guide-sub-header">
        Patient should understand that:
    </div>
    <ul>
        <li>Mediclaim is a facility for your defense, do not misuse it- use it judiciously</li>
        <li>Cash less mode of payment is service given by hospital is to facilitate recovery in an unexpected ill health
        </li>
    </ul>

    <div class="patient-guide-header">TPA List</div>
    <hr class="txt-underline">
    <div class="row patient-guide-sub-header">
        <div class="col-md-6 tpa-list">
            <!-- <div>ALANKIT HEALTHCARE LIMITED</div> -->
            <div>RAKSHA TPA</div>
            <div>FUTURE GENERAL INSURANCE</div>
            <div>DEDICATED HEALTH CARE SERVICES </div>
            <!--<div>EAST WEST ASSIST</div>-->
            <!--<div>E-MEDITEK SOLUTIONS PVT. LIMITED</div>-->
            <!--<div>GEMINI HEALTH CARE LIMITED</div>-->
            <div>GENINS INDIA LIMITED</div>
            <div>GOOD HEALTH PLAN LIMITED</div>
            <!--<div>GREEN LEAF HEALTH CARD</div>-->
            <!--<div>HEALTH INDIA BHAICHAND AMOULUK INSURANC</div>-->
            <div>HERITAGE HEALTH SERVICES PVT. LTD</div>
            <div>PARAMOUNT PVT LTD</div>
            <div>MD INDIA HEALTH CARE SERVICES LTD</div>
            <div>MEDIASSIST INDIA PVT. LIMITED</div>
            <div>MEDICARE TPA SERVICES</div>
            <div>MEDSAVE HEALTH</div>
            <div>ICICI LOMBARD</div>
            <!--<div>PARK MEDICLAIM CONSULTANTS PVT. LTD</div>-->
            <!--<div>INDIAN HEALTH ORGANISATION</div>-->
            <div>ERICSON INSURANCE</div>
            <div>STAR HEALTH INSURANCE</div>
        </div>
        <div class="col-md-6 tpa-list">
            <div>SAFE WAY MEDICLAIM SERVICES PVT. LTD </div>
            <div>TTK HEALTH CARE</div>
            <div>UNITED HEALTH CARE </div>
            <div>VIPUL MEDICORP </div>
            <!--<div>WINNER INSURANCE BENEFFITS LIMITED </div>-->
            <!--<div>ICICI PRUDENTIAL</div>-->
            <!--<div>ANMOL TPA </div>-->
            <div>RELIANCE GENERAL INSURANCE</div>
            <div>RELIGARE INSURANCE </div>
            <div>FUTURE GENERALI</div>
            <div>GENSIS</div>
            <!--<div>KOTAK MAHINDRA BANK PVT LTD</div>-->
            <!--<div>PAN M MEDICAL OVERSEAS INSURANCE</div>-->
            <div>ROYAL SUNDARAM </div>
            <div>RORTH SHILED </div>
            <div>HDFC ERGO </div>
            <div>APOLLO MUNICH</div>
            <div>MAX BUPA </div>
            
            
        </div>
    </div>


    <div class="patient-guide-header">
        LIST OF CORPORATES
    </div>
    <hr class="txt-underline">
    <div class="row patient-guide-sub-header">
        <div class="col-md-6 tpa-list">
            <div>AIRPORT AUTHORITY OF INDIA </div>
            <div>JOHNSON & JOHNSON LIMITED</div>
            <!--<div>KINGFISHER PVT LTD</div>-->
            <div>HPCL</div>
            <!--<div>MAHARASHTRA POLICE KUTUMB YOJNA</div>-->
            <div>NATIONAL BANK FOR AGRICULTURE & RURAL DEVELOPMENT (NABARD)</div>
            <div>MAHINDRA & MAHINDRA</div>
            <div>ACCENTURE SERVICES PVT LTD</div>
        </div>
        <div class="col-md-6 tpa-list">
            <div>RESERVE BANK OF INDIA</div>
            <div>RAJEEV GANDHI JEEVANDAYEE AROGYA YOJANA </div>
            <div>TCS</div>
            <div>L & T HEALTH INSURANCE </div>
            <div>HEALTH SPRING </div>
            <!--<div>NATIONAL HEALTH ORGANISATION</div>-->
        </div>
    </div>


</div>