<div class="row page-main-banner page-header-banner-img">
    <div class="col-12 facilities-txt">
        <div class="animate__animated animate__backInLeft">
            <div class="big-facilities-txt">About Us</div>
            <div class="small-facilities-txt">Sanjeevani gives more emphasis on Patient – Doctor relationship & one to
                one interaction.</div>
            <div class="small-facilities-txt">As a result every incoming patient receives treatment in a healthy & moral
                boosting atmosphere
                which results in speedy recovery of the patient.</div>
        </div>
    </div>
</div>
<div class="about-us-main">
    <app-breadcrum></app-breadcrum>

    <div class="facilities-outer-div">
        <div id="about_sanjeevani" class="row about-img-div about-img-padrgt">
            <div class="col-md-6 firsthalf-image about-img"></div>
            <div class="col-md-6 about-secondhalf">
                <p>
                    Sanjeevani began its journey in 1999 with 9 beded hospital in Malad
                    (east), western suburb of Mumbai and in short span of 2 years as a
                    result of excellent healthcare facilities & hard work of Dr. Sunil Agrawal
                    & his team, no of beds were first increased to 21 in 2001 & up to 25 in
                    the year 2003.
                </p>
                <p>
                    Over the years hospital has acquired top of the line
                    equipments and services of best of the brains in health care, which has
                    helped Sanjeevani to increase its bed capacity to over 100 Rooms.
                </p>
                <p>
                    The name " SANJEEVANI " is inspired from the name of Dr. Sunil
                    Agrawal’s mother & also the life saving herb in Ayurveda.
                </p>
            </div>
        </div>
    </div>
    <div class="mission-div" id="mission">
        <div class="mission-col-div">
            <div class="svg-div">
                <img class="svg-img" src="assets/img/about-us/visionary.svg">
            </div>
            <div class="about-us-header pdb-15">Our Vision</div>
            <div class="about-us-sub-header">
                Sanjeevani hospital aspires to be a highly effective
                professional organization devoted to ensuring and
                striving to improve the health status of our
                community.
            </div>
        </div>
        <div class="mission-col-div">
            <div class="svg-div">
                <img class="svg-img" src="assets/img/about-us/heart.svg">
            </div>
            <div class="about-us-header pdb-15">Our Promise</div>
            <div class="about-us-sub-header">
                Sanjeevani hospital promises to have a sustainable relationship with all its patients and provide
                the best solution for all healthcare needs of its patients.
            </div>
        </div>
        <div class="mission-col-div">
            <div class="svg-div">
                <img class="svg-img" src="assets/img/about-us/mission.svg">
            </div>
            <div class="about-us-header pdb-15">Our Mission</div>
            <div class="about-us-sub-header ">
                Sanjeevani hospital is a premier healthcare
                organization that strives to anticipate and respond to
                lifelong needs and beyond by providing excellent
                clinical care. We help the patients to make informed
                choices.
            </div>
        </div>
    </div>

    <div id="values">
        <div class="flex-col-center about-head-div">
            <div class="about-us-header text-center">Values we live by</div>
            <hr class="txt-underline">
        </div>
        <div class="row value-div">
            <div class="col-md-5 d-none d-md-block">
                <div class="img-cntr-val flex-col-center">
                    <img src="../../../assets/img/about-us/values.jpg" alt="Dr. Rajesh Binyala" title="values"
                        class="img-fluid rounded-circle">
                </div>
            </div>
            <div class="col-md-7 pdl0">
                <div class="flexx-start">
                    <img class="svg-img-values" src="assets/img/about-us/love.svg">
                    <div class="mgr-left">
                        <div class="about-us-sub-header pd-5-bold " style="color: black;">Mutual Respect</div>
                        <div class="about-us-sub-header" style="color: black;">We treat others the way we want to be treated.</div>
                    </div>
                </div>

                <div class="flexx-start">
                    <img class="svg-img-values" src="assets/img/about-us/accountability.svg">
                    <div class="mgr-left">
                        <div class="about-us-sub-header pd-5-bold" style="color: black;">Accountability</div>
                        <div class="about-us-sub-header" style="color: black;">We accept responsibility for our actions and mistakes. </div>
                        <div class="about-us-sub-header" style="color: black;">We comply by the rules, ethics and standards of our respected
                            profession.</div>
                    </div>
                </div>
                <div class="flexx-start">
                    <img class="svg-img-values" src="assets/img/about-us/trust.svg">
                    <div class="mgr-left">
                        <div class="about-us-sub-header pd-5-bold" style="color: black;">Trust</div>
                        <div class="about-us-sub-header" style="color: black;">We act with integrity and maintain the essence of honesty,
                            being
                            fair,
                            and reliable.</div>
                    </div>
                </div>
                <div class="flexx-start">
                    <img class="svg-img-values" src="assets/img/about-us/excellence.svg">
                    <div class="mgr-left">
                        <div class="about-us-sub-header pd-5-bold" style="color: black;">Excellence</div>
                        <div class="about-us-sub-header" style="color: black;">We are at our best at all times and always looking forward for
                            ways
                            to
                            improve. </div>
                    </div>
                </div>
                <div class="flexx-start mgb-0">
                    <img class="svg-img-values" src="assets/img/about-us/teamwork.svg">
                    <div class="mgr-left">
                        <div class="about-us-sub-header pd-5-bold" style="color: black;">Team work and collaboration</div>
                        <div class="about-us-sub-header" style="color: black;">We support a knowledgeable and skilled medical staff.</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div id="core_team">
        <div class="flex-col-center about-head-div">
            <div class="about-us-header text-center">Our Core Team</div>
            <hr class="txt-underline">
        </div>
        <div class="row text-center">
            <div class="col-12 our-team">
                <div class="row meet-team">
                    <div class="col-md-4">
                        <div class="img-cntr">
                            <img src="../../../assets/img/our-team/DrRajeshB.jpg" alt="Dr. Rajesh Binyala"
                                title="Dr. Rajesh Binyala" class="img-fluid rounded-circle">
                            <span class="icon"><img src="../../../assets/img/our-team/heart.png" alt="" title=""></span>
                        </div>
                        <h4>Dr. Rajesh Binyala</h4>
                        <h5>Cardiology</h5>
                        <p class="m-3">Dr. Rajesh Binyala completed MBBS from Bombay University in October 1990 & did
                            his
                            Post Graduation in MD from Nair Hospital (Mumbai University) in 1995.</p>
                    </div>
                    <div class="col-md-4">
                        <div class="img-cntr">
                            <img src="../../../assets/img/our-team/DrSunilA.jpg" alt="Dr. Sunil Agrawal"
                                title="Dr. Sunil Agrawal" class="img-fluid rounded-circle">
                            <span class="icon"><img src="../../../assets/img/our-team/scalpel.png" alt=""
                                    title=""></span>
                        </div>
                        <h4>Dr. Sunil Agrawal</h4>
                        <h5>Surgery</h5>
                        <p class="m-3">Dr. Sunil Chandrabhan Agrawal completed MBBS from Bombay University in October
                            1990 &
                            did his Post Graduation in Master of Surgery from Tata Memorial Hospital in 1996.</p>
                    </div>
                    <div class="col-md-4">
                        <div class="img-cntr">
                            <img src="../../../assets/img/our-team/DrDhawalA.jpg" alt="Dr. Dhawal Agrawal"
                                title="Dr. Dhawal Agrawal" class="img-fluid rounded-circle">
                            <span class="icon"><img src="../../../assets/img/our-team/pathology.png" alt=""
                                    title=""></span>
                        </div>
                        <h4>Dr. Dhawal Agrawal</h4>
                        <h5>Microbiologist</h5>
                        <p class="m-3">Dr. Dhawal Agrawal completed MBBS from Bombay University in October 1990 & did
                            his
                            Post Graduation in MD from Nair Hospital (Mumbai University) in 1995.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="facilities-outer-div">
        <div class="gallery-slider">
            <div class="flex-col-center about-head-div">
                <div class="about-us-header text-center">Gallery</div>
                <hr class="txt-underline">
            </div>
            <div class="flexslider carousel gallery-img">
                <ul class="slides">
                    <li>
                        <img src="assets/img/about-us/about-us-img-2.jpg" />
                    </li>
                    <li>
                        <img src="assets/img/about-us/about-us-img-3.jpg" />
                    </li>
                    <li>
                        <img src="assets/img/about-us/about-us-img-4.jpg" />
                    </li>
                    <li>
                        <img src="assets/img/about-us/about-us-img-5.jpg" />
                    </li>
                    <li>
                        <img src="assets/img/about-us/about-us-img-2.jpg" />
                    </li>
                    <li>
                        <img src="assets/img/about-us/about-us-img-3.jpg" />
                    </li>
                    <li>
                        <img src="assets/img/about-us/about-us-img-4.jpg" />
                    </li>
                    <li>
                        <img src="assets/img/about-us/about-us-img-5.jpg" />
                    </li>
                </ul>
            </div>
        </div>

    </div>

</div>