<div class="commom-padding">
    <div class="row link-div">
        <span class="home-icon">
            <i class="material-icons">
                home
            </i>
        </span>
        <a [routerLink]="['/home']">
            <div>Home</div>
        </a>
        <div class="breadcrumb-div" *ngFor="let breadcrumb of breadcrumbs">
            > <a [routerLink]="[breadcrumb.Route]">{{breadcrumb.Label}}</a>
        </div>
    </div>
    <div class="title" *ngIf="title && showTitle">
        <span>{{title}}
        <hr class="title-underline">
    </span>
    </div>
    
</div>