.breadcrumb-div{
  margin-left:4px;
}
.home-icon{
  height: 20px;
  width: 26px;
  float: left;
  i{
      font-size: 22px !important;
  }
}
.link-div{
  margin: 0px !important;
  padding: 15px 15px;
  width: 100%;
  font-size: 14px;
  color: #255471;
  div{
      float: left;
      padding-top: 2px;
  }
}
