<div class="health-packages-main">
    <div class="health-txt">
        Health Packages
    </div>
    <div [className]="healthRowClass">
        <div id="health-plan1" class="col-md-4 health-content"
            (mouseenter)="healthRowClass = 'd-none d-md-flex row health-row-first'"
            (mouseleave)="healthRowClass = 'd-none d-md-flex row health-row-middle'">
            <div class="health-done-list">
                <div class="health-plan-font">Rs.4000/-</div>
                <hr class="health-txt-underline">
                <div class="health-plan-font">Silver</div>
                <div class="health-checkup">Health Check up</div>
                <div class="btn-div">
                    <button class="btn btn-primary health-btn">Get Now</button>
                </div>
            </div>
            <div class="health-done-list">
                <div>Laboratory Profile</div>
                <div>Diabetes Profile</div>
                <div>Lipid Profile</div>
                <div>Renal Profile</div>
                <div>Liver Function Profile</div>
                <div>Cardiac Profile</div>
                <div>Imaging Test</div>
                <div>Urine Routine </div>
                <div>Stool Routine</div>
                <div>HIV</div>
                <div>Consultation</div>
            </div>
        </div>
        <div id="health-plan2" class="col-md-4 health-content col-border"
            (mouseenter)="healthRowClass = 'd-none d-md-flex row health-row-middle'"
            (mouseleave)="healthRowClass = 'd-none d-md-flex row health-row-middle'">
            <div class="health-done-list">
                <div class="health-plan-font">Rs.12000/-</div>
                <hr class="health-txt-underline">
                <div class="health-plan-font">Executive</div>
                <div class="health-checkup">Health Check up</div>
                <div class="btn-div ">
                    <button class="btn btn-primary health-btn">Get Now</button>
                </div>
            </div>
            <div class="health-done-list">
                <div>Laboratory Profile</div>
                <div>Diabetes Profile</div>
                <div>Lipid Profile</div>
                <div>Renal Profile</div>
                <div>Liver Function Profile</div>
                <div>Cardiac Profile</div>
                <div>Vitamin D3</div>
                <div>HbsAg(Elisa) </div>
                <div>Imaging Test</div>
                <div>Urine Routine </div>
                <div>Stool Routine</div>
                <div>HIV</div>
                <div>PSA (Male)</div>
                <div>PAP Smear (Female) </div>
                <div>TSH(Thyroid Hormone Test)</div>
                <div>Complementary Room</div>
                <div>Consultation</div>
            </div>
        </div>
        <div id="health-plan3" class="col-md-4 health-content"
            (mouseenter)="healthRowClass = 'd-none d-md-flex row health-row-last'"
            (mouseleave)="healthRowClass = 'd-none d-md-flex row health-row-middle'">
            <div class="health-done-list">
                <div class="health-plan-font">Rs.8000/-</div>
                <hr class="health-txt-underline">
                <div class="health-plan-font">Gold</div>
                <div class="health-checkup">Health Check up</div>
                <div class="btn-div">
                    <button class="btn btn-primary health-btn">Get Now</button>
                </div>
            </div>
            <div class="health-done-list">
                <div>Laboratory Profile</div>
                <div>Diabetes Profile</div>
                <div>Lipid Profile</div>
                <div>Renal Profile</div>
                <div>Liver Function Profile</div>
                <div>Cardiac Profile</div>
                <div>Imaging Test</div>
                <div>Urine Routine </div>
                <div>Stool Routine</div>
                <div>HIV</div>
                <div>PSA (Male)</div>
                <div>PAP Smear (Female) </div>
                <div>Consultation</div>
            </div>
        </div>
    </div>

    <div class="row d-md-none d-block no-gutters">
        <div class="col-md-4 health-content bottom-margin">
            <div class="health-done-list">
                <div class="health-plan-font">Rs.4000/-</div>
                <hr class="health-txt-underline">
                <div class="health-plan-font">Silver</div>
                <div class="health-checkup">Health Check up</div>
                <div class="btn-div">
                    <button class="btn btn-primary health-btn">Get Now</button>
                </div>
            </div>
            <div class="health-done-list">
                <div>Laboratory Profile</div>
                <div>Diabetes Profile</div>
                <div>Lipid Profile</div>
                <div>Renal Profile</div>
                <div>Liver Function Profile</div>
                <div>Cardiac Profile</div>
                <div>Imaging Test</div>
                <div>Urine Routine </div>
                <div>Stool Routine</div>
                <div>HIV</div>
                <div>Consultation</div>
            </div>
        </div>
        <div class="col-md-4 health-content col-border bottom-margin">
            <div class="health-done-list">
                <div class="health-plan-font">Rs.12000/-</div>
                <hr class="health-txt-underline">
                <div class="health-plan-font">Executive</div>
                <div class="health-checkup">Health Check up</div>
                <div class="btn-div ">
                    <button class="btn btn-primary health-btn">Get Now</button>
                </div>
            </div>
            <div class="health-done-list">
                <div>Laboratory Profile</div>
                <div>Diabetes Profile</div>
                <div>Lipid Profile</div>
                <div>Renal Profile</div>
                <div>Liver Function Profile</div>
                <div>Cardiac Profile</div>
                <div>Vitamin D3</div>
                <div>HbsAg(Elisa) </div>
                <div>Imaging Test</div>
                <div>Urine Routine </div>
                <div>Stool Routine</div>
                <div>HIV</div>
                <div>PSA (Male)</div>
                <div>PAP Smear (Female) </div>
                <div>TSH(Thyroid Hormone Test)</div>
                <div>Complementary Room</div>
                <div>Consultation</div>
            </div>
        </div>
        <div class="col-md-4 health-content">
            <div class="health-done-list">
                <div class="health-plan-font">Rs.8000/-</div>
                <hr class="health-txt-underline">
                <div class="health-plan-font">Gold</div>
                <div class="health-checkup">Health Check up</div>
                <div class="btn-div">
                    <button class="btn btn-primary health-btn">Get Now</button>
                </div>
            </div>
            <div class="health-done-list">
                <div>Laboratory Profile</div>
                <div>Diabetes Profile</div>
                <div>Lipid Profile</div>
                <div>Renal Profile</div>
                <div>Liver Function Profile</div>
                <div>Cardiac Profile</div>
                <div>Imaging Test</div>
                <div>Urine Routine </div>
                <div>Stool Routine</div>
                <div>HIV</div>
                <div>PSA (Male)</div>
                <div>PAP Smear (Female) </div>
                <div>Consultation</div>
            </div>
        </div>
    </div>
</div>