<div class="specialities-all">
    <app-breadcrum></app-breadcrum>

    <div class="commom-padding">
        <div class="row" id="first-spec-row">
            <div class="col-md-4 pad35 display-n">
                <div class="specialities-types" (click)="navigateToSpecialities('surgery')">
                    <div class="specialities-firsthalf specialities-surgery-img"></div>
                    <div class="specialities-secondhalf">
                        <div class="fac-header">Surgery Performed</div>
                        <div class="fac-subheader">Sanjeevani Hospital performs different types of surgeries like
                            cancer, heart, general, laproscopic, piles, daycare, urological, gynecology, orthopedic etc.
                        </div>
                        <div class="learn-more">Learn More</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 pad35 display-n">
                <div class="specialities-types" (click)="navigateToSpecialities('cancercare')">
                    <div class="specialities-firsthalf specialities-cancercare-img"></div>
                    <div class="specialities-secondhalf">
                        <div class="fac-header">Cancer Care</div>
                        <div class="fac-subheader">Our focus is on Comprehensive Cancer care
                            in all sub-specialities by Eminent Panel of Experts most of whom have trained at "TATA
                            MEMORIAL HOSPITAL".</div>
                        <div class="learn-more">Learn More</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 pad35 display-n">
                <div class="specialities-types" (click)="navigateToSpecialities('cardiaccare')">
                    <div class="specialities-firsthalf specialities-cardiaccare-img"></div>
                    <div class="specialities-secondhalf">
                        <div class="fac-header">Cardiac care</div>
                        <div class="fac-subheader">Cardiac care facility at Sanjeevani hospital is affordable and
                            available to all. Our team of cardiologist is well known for their expertise and experience
                            in their ﬁeld.
                        </div>
                        <div class="learn-more">Learn More</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row top-margin bottom-margin"  id="second-spec-row">
            <!-- <div class="col-md-4 pad35 display-n">
                <div class="specialities-types" (click)="navigateToSpecialities('stemcell')">
                    <div class="specialities-firsthalf specialities-stemcell-img"></div>
                    <div class="specialities-secondhalf">
                        <div class="fac-header">Stem Cell Therapy</div>
                        <div class="fac-subheader">Stem cell therapy is the replacement of dysfunctional cells with stem
                            cells. It's similar to the organ transplant process but uses cells instead of organs</div>
                        <div class="learn-more">Learn More</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 pad35 display-n">
                <div class="specialities-types" (click)="navigateToSpecialities('newborn')">
                    <div class="specialities-firsthalf specialities-newborn-img"></div>
                    <div class="specialities-secondhalf">
                        <div class="fac-header">New Born Screening</div>
                        <div class="fac-subheader">Newborn screening test looks for serious Genetic and
                            Metabolic Disorders so that necessary treatment can be given during the critical time before
                            symptoms develop
                        </div>
                        <div class="learn-more">Learn More</div>
                    </div>
                </div>
            </div> -->
            <div class="col-md-4 pad35 display-n">
                <div class="specialities-types" (click)="navigateToSpecialities('medicaltourism')">
                    <div class="specialities-firsthalf specialities-medicaltour-img"></div>
                    <div class="specialities-secondhalf">
                        <div class="fac-header">Medical Tourism</div>
                        <div class="fac-subheader">Sanjeevani Hospital offers different
                            medical procedures for foreign patients by highly qualiﬁed surgeons at competitive charges
                        </div>
                        <div class="learn-more">Learn More</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>