<div class="main-link-div">
    <app-breadcrum></app-breadcrum>

    <div class="flexslider">
        <ul class="slides">
            <li>
                <img src="assets/img/specialities/stemcell1.jpg" />
            </li>
            <li>
                <img src="assets/img/specialities/stemcell2.jpg" />
            </li>
            <li>
                <img src="assets/img/specialities/stemcell3.jpg" />
            </li>
        </ul>
    </div>

    <div class="facilities-outer-div">
        <div class="row facilities-info ">
            <div class="col-md-12 pdl0">
                <div class="p-header">What are stem cells?</div>
                <p>Stem cells are the body's raw materials — cells from which all other cells with specialized functions
                    are generated. Under the right conditions in the body or a laboratory, stem cells divide to form
                    more cells, called daughter cells. These daughter cells either become new stem cells (self-renewal)
                    or become specialized cells (differentiation) with a more speciﬁc function, such as blood cells,
                    brain cells, heart muscle or bone. Stem cells are unique — no other cell in the body has the natural
                    ability to generate new cell types.</p>
                <div class="p-header">What Is Stem Cell Therapy?</div>
                <p>Stem cell therapy, also known as regenerative medicine, is the replacement of diseased, dysfunctional
                    or injured cells with stem cells or their derivatives. It's somewhat similar to the organ transplant
                    process but uses cells instead of organs.
                </p>
                <p>Researchers grow stem cells in the lab. These stem cells are manipulated to make them specialize into
                    speciﬁc types of cells, such as heart muscle cells, blood cells or nerve cells. This manipulation
                    may involve changing the material in which the stem cells are grown or even injecting genes into the
                    cells. The specialized cells could then be implanted into a person. For example, if the person had
                    heart disease, the cells could be injected into the heart muscle. The healthy, transplanted heart
                    cells could then contribute to repairing defective heart muscle. In fact, researchers have already
                    shown that adult bone marrow cells guided to become heart-like cells can repair heart tissue in
                    mice, and much more research is ongoing.</p>
                <div class="p-header">There are three types of cells</div>
                <div class="p-header">Embroynic Stem Cells:</div>
                <p>Embryonic stem (ES) cells are formed as a normal part of embryonic development. They can be isolated
                    from an early embryo and grown in a dish.</p>
                <div class="p-header">Adult stem cells:</div>
                <p>Somatic stem cells (also called adult stem cells) exist naturally in the body. They are important for
                    growth, healing, and replacing cells that are lost through daily wear and tear.
                </p>
                <div class="p-header">Pluripotent stem cells:</div>
                <p>Induced pluripotent stem (iPS) cells are created artiﬁcially in the lab by "reprogramming" a
                    patient's own cells. iPS cells can be made from readily available cells including fat, skin, and
                    ﬁbroblasts (cells that produce connective tissue).
                </p>
                <div class="p-header">Sources of stem cells</div>
                <p>The two broad types of stem cells found in people are adult stems cells and embryonic stem cells.
                </p>
                <div class="p-header">Adult stem cells</div>
                <ul>
                    <li>Cord blood, umbilical cord blood</li>
                    <li>Bone marrom </li>
                    <li>Blood, peripheral blood stem cells</li>
                    <li>Menstrual blood</li>
                    <li>Skin</li>
                    <li>Teeth</li>
                    <li>Placental tissue</li>
                </ul>
                <div class="p-header">Embryonic stem cells</div>
                <ul>
                    <li>Human embryos</li>
                    <li>Fetal tissue</li>
                </ul>
                <div class="p-header">Diseases that can be treated by stem cell therapy</div>
                <p>Cord blood has been successfully used in transplant medicine for more than 20 years to treat many
                    serious diseases. Today stem cell therapies continue to evolve, bringing new hope to patients and
                    their families.
                </p>
                <div class="p-header">Vascular Disorders</div>
                <ul>
                    <li>Chronic Heart Failure</li>
                    <li>Acute Myocardial Infarction</li>
                    <li>Cardiomyopathy</li>
                    <li>Buerger's Disease</li>
                </ul>
                <div class="p-header">Liver Disorders</div>
                <ul>
                    <li>Liver Cirrhosis</li>
                </ul>
                <div class="p-header">Bone and Cartilage Disorders </div>
                <ul>
                    <li>Osteoarthritis</li>
                    <li>Non-healing fractures</li>
                    <li>Osteogenesis Imperfecta</li>
                    <li>Achondrodysplasia</li>
                </ul>
                <div class="p-header">Neuro-Muscular Disorders</div>
                <ul>
                    <li>Cerebral Palsy</li>
                    <li>Multiple Sclerosis</li>
                    <li>Parkinson's Disease</li>
                    <li>Stroke</li>
                    <li>Alzheimer's disease</li>
                    <li>Muscular Dystrophy</li>
                    <li>Spinal Muscular Atrophy</li>
                    <li>ALS</li>
                    <li>Autism</li>
                </ul>
                <div class="p-header">Treatable Diseases of Haematological System</div>
                <ul>
                    <li>Acute Leukemias</li>
                    <li>Chronic Leukemias</li>
                    <li>Myelodysplastic Syndromes</li>
                    <li>Marrow Failure</li>
                    <li>Thallasemia</li>
                    <li>Myeloproliferative Disorders</li>
                    <li>Lymphoproliferative Disorders</li>
                    <li>Phagocyte Disorders</li>
                    <li>Inherited Platelet Abnormalities</li>
                    <li>Other Inherited Disorders</li>
                    <li>Inherited Disorders of Metabolism</li>
                    <li>Histiocytic Disorders</li>
                    <li>Inherited Erythrocyte Abnormalities</li>
                    <li>Inherited Disorders of Immune System</li>
                    <li>Plasma Cell Disorders</li>
                    <li>Other Malignancies</li>
                </ul>
                <div class="p-header">Cancers</div>
                <ul>
                    <li>Brain Tumors</li>
                    <li>Ewing Sarcoma</li>
                    <li>Neuroblastoma</li>
                    <li>Ovarian Cancer</li>
                    <li>Renal Cell Carcinoma</li>
                    <li>Rhabdomyosarcoma</li>
                    <li>Small-Cell Lung Cancer</li>
                    <li>Testicular Cancer</li>
                    <li>Thymoma (Thymic Carcinoma)</li>
                </ul>
                <div class="p-header">Diabetes </div>
                <div class="p-header">Eye disorders</div>
                <div class="p-header">Anti aging</div>
                <div class="p-header">Erectile dysfunction</div>
            </div>
            <!-- <div class="col-md-4 needinfo-col">
                <app-needmoreinfo [pageName]="'stemcell'"></app-needmoreinfo>
            </div> -->
        </div>
    </div>
</div>