
.pathology-needinfo-div{
  padding:20px;
  border: 1px solid #ebebeb;
  input{
      width: 100%;
      height: 32px;
      font-size: 14px;
  }
}
.more-help-underline{
  border-top: 6px solid #f99b2f;
  margin: 6px 0px;
}
.mbt10{
  margin-bottom: 10px;
}
.mbt20{
  margin-bottom: 15px;
}
.msg-height{
  height: 100px;
  padding:5px 0px;
  font-size: 14px;
  padding-left:12px;
}
.sub-btn{
  color: white;
  background-color: #255471;
  border: 1px solid #255471;
  width: 100%;
  padding: 4px 0px;
  font-size: 15px;
}