
.maternityhome-main{
    font-size: 16px;
    color:#255471;
    .row{
        margin-left:0px;
        margin-right:0px;
    }
    // .flexslider{
    //     max-height: 500px;
    //     @media (min-width: 1200px) {
    //         height: 430px;
    //     }
    // }
}
.p-header{
    color:#255471;
    font-weight: bold;
    padding-bottom: 10px;
}