<div class="maternityhome-main">
    <app-breadcrum></app-breadcrum>

    <div class="flexslider">
        <ul class="slides">
            <!-- <li>
                <img src="assets/img/facilities/facilities_room/banner/banner1.jpg" />
            </li> -->
            <li>
                <img src="assets/img/facilities/facilities_room/banner/banner2.jpg" />
            </li>
            <li>
                <img src="assets/img/facilities/facilities_room/banner/banner3.jpg" />
            </li>
        </ul>
    </div>

    <div class="facilities-outer-div">
        <div class="row facilities-info ">
            <div class="col-md-12 pdl0">
                <p>If you are planning for a baby, you will want to have the best of everything and it starts with our
                    choice of doctors and hospitals. This is why many couples choose to have their baby at "Sanjeevani
                    hospital."</p>
                <div class="p-header">Better Doctors and Nurses </div>
                <p>The quality of care and your new born receive should be nothing less than the very best . Our certified
                    and very able Obstetricians provide expert care with a personal touch. They are backed up with the
                    experienced nurses who put your needs first from the moment you arrive, and all the very best of
                    resources and latest technology of sanjeevaji Hospital’s maternity facilities. Painless delivery is
                    essentially a apart of the practice followed here.</p>
                <div class="p-header">Baby and Mother</div>
                <p>The birth of your baby is a very special private moment and we at sanjeevani understand that hence
                    our labor, delivery and recovery room are private equipped with the best . You and your new born will
                    be provided with care and comfort. When you are ready for company, your room offers a comfortable
                    area for visitors.</p>
                <div class="p-header">Better Choices</div>
                <p>Sanjeevani knows that no two babies or mothers are alike . That’s why we let you choose the option
                    that are right for the two of you – Everything from your input on your anesthesia whether your baby
                    stays in your room or the cozy nursery . We take care that your birthing experience will be every bit as
                    individual as your baby.</p>
            </div>
            <!-- <div class="col-md-4 needinfo-col">
                <app-needmoreinfo [pageName]="'maternityhome'"></app-needmoreinfo>
            </div> -->
        </div>
    </div>
</div>