<div class="row page-main-banner page-header-banner-img">
    <div class="col-12 facilities-txt">
        <div class="animate__animated animate__backInLeft">
            <div class="big-facilities-txt">Facilities</div>
            <div class="small-facilities-txt">Sanjeevani is 100 bedded hospital, with 18 bedded fully equipped ICCU and
                ICU units.</div>
            <div class="small-facilities-txt">It offers 24 hours casuality, accident and emergency services.</div>
        </div>
    </div>
</div>
<div class="bg">
<router-outlet></router-outlet>
</div>