
.pathology-main{
    font-size: 16px;
    color:#255471;
    .row{
        margin-left:0px;
        margin-right:0px;
    }
    // .flexslider{
    //     max-height: 500px;
    //     @media (min-width: 1200px) {
    //         height: 430px;
    //     }
    // }
}

.pat-subheader-txt{
    padding-bottom: 10px;
}
.sub-header{
    div{
        padding-bottom: 5px;
    }
}
.all-border{
    border:1px solid #bebebe;
}
.only-one-border{
    border-bottom: 1px solid #bebebe;
    @media (min-width: 1200px) {
        border-right: 1px solid #bebebe;
        border-bottom: 0px;
    }
}
.padding-top-left{
    padding:15px 30px;
}
