<div class="pathology-main">
    <app-breadcrum></app-breadcrum>

    <div class="flexslider">
        <ul class="slides">
            <li>
                <img src="assets/img/facilities/facilities_room/banner/pathology2.jpg" />
            </li>
            <li>
                <img src="assets/img/facilities/facilities_room/banner/pathology3.jpg" />
            </li>
            <!-- <li>
                <img src="assets/img/facilities/facilities_room/banner/banner3.jpg" />
            </li> -->
        </ul>
    </div>

    <div class="facilities-outer-div">
        <div class="row facilities-info ">
            <div class="col-md-12 pdl0">
                <p>The Pathology Laboratory is an important component of any health care center. We all know today
                    investigations play a vital role in the management of any illness. They provide us with clues that
                    help decide on the treatment modality.</p>
                <p>Accuracy, precision and timeliness are vital characteristics of any good and progressive laboratory.
                    The Laboratory at Sanjeevani is fully automated and has state-of-the-art equipment that analyses all
                    blood and body fluid parameters. The department of Laboratory Medicine is among few others in the
                    country to offer reliable and reproducible quality results.</p>
                <p>The department boasts of its quality through the numerous quality control programs (internal &
                    external) that it carries out. The department functions "round-the-clock" throughout the year
                    offering
                    Inpatient and Outpatient testing capabilities with an extremely comprehensive menu of investigations
                    to choose from which includes routine and specialised investigations.</p>
                <p>Faxing facilities are also extended to all patients within Mumbai. Reports are also couriered if
                    requested.</p>
            </div>
            <!-- <div class="col-md-4 needinfo-col">
                <app-needmoreinfo [pageName]="'pathology'"></app-needmoreinfo>
             </div> -->
        </div>

        <div class="row all-border bottom-margin fnt16">
            <div class="col-md-6 only-one-border padding-top-left">
                <div class="title-subheader-bold pat-subheader-txt">Equipments Available</div>
                <ul class="sub-header">
                    <li>Hematology Cell Counter </li>
                    <li>Coagulation Analyser (Unique Diagnostic) </li>
                    <li>ESR Analyser</li>
                    <li>ABL 80 Flex Blood Gas (Analytical Automation)</li>
                    <li>Selectra Junior (Merck) </li>
                    <li>Ortho DT 60 (Emergent Meditech)</li>
                </ul>
            </div>
            <div class="col-md-6 padding-top-left">
                <div class="title-subheader-bold pat-subheader-txt">Investigations carried out</div>
                <ul class="sub-header">
                    <li>Biochemistry</li>
                    <li>Hematology</li>
                    <li>Histopathology & Cytopathology</li>
                    <li>Microbiology</li>
                    <li>Immuno-Serology</li>
                </ul>
            </div>
        </div>
    </div>
</div>