<div class="dialysis-main">
    <app-breadcrum></app-breadcrum>

    <div class="flexslider">
        <ul class="slides">
            <li>
                <img src="assets/img/facilities/facilities_room/banner/dialysis1.jpg" />
            </li>
            <li>
                <img src="assets/img/facilities/facilities_room/banner/dialysis2.jpg" />
            </li>
            <!-- <li>
                <img src="assets/img/facilities/facilities_room/banner/banner3.jpg" />
            </li> -->
        </ul>
    </div>

    <div class="facilities-outer-div">
        <div class="row facilities-info ">
            <div class="col-md-12 pdl0">
                <p>Some patients may continue with stable kidney function for years without requiring dialysis. Others
                    may show relentless worsening and reach a stage necessitating dialysis.</p>
                <p>There are two types of dialysis: </p>

                <ul>
                    <li> Hemodialysis that uses a machine to purify the blood directly after circulating through an
                        artificial
                        kidney or filter.</li>
                    <li>Peritoneal Dialysis – this is done through the abdomen where the peritoneal membrane filters
                        the
                        wastes and excess water from the body. </li>
                </ul>
                <p>Sanjeevani's Dialysis unit has 3 dedicated beds. </p>
                <p>It has a Gamro Machine with Centralized O2 / Suction and Air Compressor. </p>
                <p>It is under constant supervision by well trained Dialysis technicians & Doctors.</p>
            </div>
            <!-- <div class="col-md-4 needinfo-col">
               <app-needmoreinfo [pageName]="'dialysis'"></app-needmoreinfo>
            </div> -->
        </div>
    </div>
</div>