<div class="main-link-div">
    <app-breadcrum></app-breadcrum>

    <div class="flexslider">
        <ul class="slides">
            <li>
                <img src="assets/img/specialities/cancer1.jpg" />
            </li>
            <li>
                <img src="assets/img/specialities/cancer2.jpg" />
            </li>
            <li>
                <img src="assets/img/specialities/cancer3.jpg" />
            </li>
        </ul>
    </div>

    <div class="facilities-outer-div">
        <div class="row facilities-info ">
            <div class="col-md-12 pdl0">
                <div class="p-header">Sanjeevani Provides Comprehensive Cancer Care.</div>
                <div class="p-header">What is cancer?</div>
                <p>A disease caused by an uninhibited growth of abnormal cells in any part of the body.</p>
                <div class="p-header">How can cancer be cured?</div>
                <p>There are three ways of curing, restricting and managing cancerous cells.</p>
                <div class="p-header">Medical Oncology:</div>
                <p>Cancer is treated through chemotherapy. Chemotherapy is a drug treatment that uses powerful
                    chemicals to kill the fast growing cancerous cells. It is the most commonly used way of treatment.
                </p>
                <div class="p-header">Radiation Oncology:</div>
                <p>Radiation therapy is the use of precisely calculated doses of high energy X-rays to the affected
                    areas. It is a pain free treatment.
                </p>
                <div class="p-header">Surgical Oncology:</div>
                <p>Surgical management of cancer has evolved in many ways. While surgery alone is enough for early
                    cancers, most advanced cancers require a multimodality treatment which includes managing the cancer
                    with surgery, radiotherapy and chemotherapy.
                </p>
                <p class="text-dark">The Focus is on Comprehensive Cancer care in all sub-specialities by Eminent Panel of Experts
                    most of whom have trained at "TATA MEMORIAL HOSPITAL".
                </p>
                <p class="font-weight-bold text-dark">We provide specialized consultation wherein a panel of Doctors will plan & individualize the
                    treatment protocol as per the case. This helps in better planning of patient's treatment.
                </p>
                <p class="font-weight-bold text-dark">In advanced cases appropriate PALLIATIVE AND PAIN MANAGEMENT treatment will be offered to the
                    patient.</p>
            </div>
            <!-- <div class="col-md-4 needinfo-col">
                <app-needmoreinfo [pageName]="'surgery'"></app-needmoreinfo>
            </div> -->
        </div>
    </div>
</div>