<div>
    <div class="patient-guide-header">Visiting Hours</div>
    <hr class="txt-underline">

    <div class="row mgr-top">
        <div class="col-md-6">
            <div class="visitor-box">
                <div class="inpatient-text inpatient-border">All inpatient areas except ICUs</div>
                <div class="inpatient-timing inpatient-border">
                    <div class="inpatient-days">Monday-Friday</div>
                    <div class="inpatient-time">
                        11:00 am to 1:00 pm <br/>
                        6:00 pm to 7:00 pm
                    </div>
                </div>
                <div class="inpatient-timing">
                    <div class="inpatient-days">Sundays/public holidays</div>
                    <div class="inpatient-time">
                        11:00 am to 1:00 pm
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 margin-top-sm">
            <div class="visitor-box">
                <div class="inpatient-text inpatient-border">ICUs</div>
                <div class="inpatient-timing extra-padding">
                    <div class="inpatient-days">All days</div>
                    <div class="inpatient-time">
                        10:00 am to 11:00 pm<br/>
                        6:00 pm to 7:00 pm
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="patient-guide-sub-header mgr-top-20">
        Children below 12 year are not allowed as visitors in the hospital.
    </div>

</div>