<div>
    <div class="patient-guide-header">Patient Responsibilities</div>
    <hr class="txt-underline">
    <div class="patient-guide-sub-header">
        As a Patient, it is your responsibility to:
    </div>
    <ul>
        <li>Take part in the development of an individual care plan with nursing staff to enable your specific needs and cares to be met.</li>
        <li>Provide the necessary information about your previous medical/surgical history to enable safe treatment and care.</li>
        <li>Keep staff informed about any changes in your condition or situation.</li>
        <li>All past & present medical reports & case files</li>
        <li>Maintain your own health and function during your hospitali-sation, with assistance from nursing staff as necessary.</li>
        <li>Respect the rights, needs, and dignity of other patients in the vicinity.</li>
        <li>Be courteous to staff and respectful of their rights and professional opinion.</li>
        <li>Respect organisational policies, i.e. safety, security, no smoking, individuals&#39; privacy and confidentiality, visiting hours etc.</li>
        <li>Treat hospital property with care and use only for the purpose for which it was designed.</li>
        <li>Follow instructions of staff in the event of an emergency. </li>
        <li>I Return the A.C. and T.V. remote to responsible staff. </li>
        <li>Please do not attempt to shift or repair any electrical item.</li>
        <li>Put off lights when not in use, especially in toilets and use water judiciously.</li>
        <li>Do not touch the oxygen and suction pump equipment.</li>
        <li>Put on heater switch after starting the water tap. Do not forget to put off heater switch.</li>
        <li>Use of mobile phones is restricted in patient-related areas.</li>
        <li>Avoid wastage of food.</li>
    </ul>
</div>