<div class="bloodbank-main">
    <app-breadcrum></app-breadcrum>

    <div class="flexslider">
        <ul class="slides">
            <li>
                <img src="assets/img/facilities/facilities_room/banner/bloodbank1.jpg" />
            </li>
            <!-- <li>
                <img src="assets/img/facilities/facilities_room/banner/bloodbank2.jpg" />
            </li> -->
            <li> 
                <img src="assets/img/facilities/facilities_room/banner/bloodbank3.jpg" />
            </li>
        </ul>
    </div>

    <div class="facilities-outer-div">
        <div class="row facilities-info ">
            <div class="col-md-8 pdl0">
                <div class="p-header">Blood Bank Helpline - +91 9820263724 / +91 22 28445678 Ext. 605.</div>
                <p>Managed by Borivali Blood Storage Bank 24 Hours Blood Bank facility available.</p>
                <p>Other facilities like Platelette, Plasma & Criyoprecipatate also available</p>
            </div>
            <!-- <div class="col-md-4 needinfo-col">
                <app-needmoreinfo [pageName]="'bloodbank'"></app-needmoreinfo>
            </div> -->
        </div>
    </div>
</div>