<div class="icu-main">
    <app-breadcrum></app-breadcrum>

    <div class="flexslider">
        <ul class="slides">
            <li>
                <img src="assets/img/facilities/facilities_room/banner/icu1.jpg" />
            </li>
            <li>
                <img src="assets/img/facilities/facilities_room/banner/icu2.jpg" />
            </li>
            <!-- <li>
                <img src="assets/img/facilities/facilities_room/banner/banner3.jpg" />
            </li> -->
        </ul>
    </div>

    <div class="facilities-outer-div">
        <div class="row facilities-info ">
            <div class="col-md-12 pdl0">
                <p>The ICU units have a Fowler Bed with 4 positions & Semi motorized Bed
                    It has a Centralized oxygen & suction Facility and a Centralized Monitoring System.</p>
                <p>Sanjeevani provides round the clock Intensives. It has Servo ventilators and Defibrillators
                    It provides efficient Air Conditioning System and also has a Nebulisation Machine.</p>
            </div>
            <!-- <div class="col-md-4 needinfo-col">
                <app-needmoreinfo [pageName]="'icu'"></app-needmoreinfo>
            </div> -->
        </div>
    </div>
</div>