<div class="op-main">
    <app-breadcrum></app-breadcrum>

    <div class="flexslider">
        <ul class="slides">
            <li>
                <img src="assets/img/facilities/facilities_room/banner/op1.jpg" />
            </li>
            <li>
                <img src="assets/img/facilities/facilities_room/banner/op2.jpg" />
            </li>
            <li>
                <img src="assets/img/facilities/facilities_room/banner/op3.jpg" />
            </li>
        </ul>
    </div>

    <div class="facilities-outer-div">
        <div class="row title-header room-title margin-top">
            Supra major Operation Theatre 
        </div>
        <div class="row img-div notop-border-row bottom-margin">
            <div class="col-md-6 border-op facilities-op-txt">
                <div class="title-subheader-bold fac-subheader-txt ">Facilities Available</div>
                <ul class="sub-header">
                    <li>Motorized OT Table</li>
                    <li>Masque OT Lights</li>
                    <li>LAF (Luminaries Flow)</li>
                    <li>Bypass Machine - HeartLung Machine</li>
                    <li>Centralized O2 / Suction, Air Compressor with pendent</li>
                    <li>Dragger Anesthesia work station</li>
                    <li>Phillips Monitor </li>
                    <li>Valley Lab Cattery Machine</li>
                    <li>Positive Pressure with Air Lock System</li>
                    <li>C-Arm - 9 High Intensity - Mediation</li>
                    <li>Defibrillator</li>
                </ul>
            </div>
            <div class="col-md-6 facilities-op-txt">
                <div class="title-subheader-bold fac-subheader-txt">Surgeries Performed</div>
                <ul class="sub-header">
                    <li>Cardiac - Bypass, Valve Replacement</li>
                    <li>Neurosurgeon</li>
                    <li>Urosurgery</li>
                    <li>Orthopedic - Knee Transplant, Hip Transplant - Spine Surgery</li>
                    <li>Cancer - Esophagus, Pulmonary, Commandos, Whippets</li>
                    <li>Liver Resection All solid organ tumor</li>
                    <li>Pediatric Surgery</li>
                </ul>

            </div>
        </div>

        <div class="row title-header room-title">
            Major Operation Theatre 
        </div>
        <div class="row img-div notop-border-row bottom-margin">
            <div class="col-md-6 border-op facilities-op-txt">
                <div class="title-subheader-bold fac-subheader-txt ">Facilities Available</div>
                <ul class="sub-header">
                    <li>Hydraulic OT</li>
                    <li>Kohinoor Light</li>
                    <li>Centralized O2 / Suction, Air Compressor</li>
                    <li>Dragger AGM</li>
                    <li>Philips Monitor</li>
                    <li>Shalya Cattery</li>
                    <li>Laparoscopic Set</li>
                </ul>
            </div>
            <div class="col-md-6 facilities-op-txt">
                <div class="title-subheader-bold fac-subheader-txt">Surgeries Performed</div>
                <ul class="sub-header">
                    <li>General Surgery</li>
                    <li>Laparoscopic Surgery </li>
                    <li>Piles Surgery - Laser Surgery, Piles Surgery</li>
                    <li>Day Care Surgery - Hernia, Hydromel</li>
                    <li>ENT</li>
                    <li>Gynec Surgery</li>
                </ul>

            </div>
        </div>

        <div class="row title-header room-title">
            Labour Room 
        </div>
        <div class="row img-div notop-border-row bottom-margin">
            <div class="col-md-6 border-op facilities-op-txt">
                <div class="title-subheader-bold fac-subheader-txt ">Facilities Available</div>
                <ul class="sub-header">
                    <li>Hydraulic OT </li>
                    <li>Kohinoor Light </li>
                    <li>Centralized O2 / Suction, Air Compressor</li>
                    <li>Cattery Machine</li>
                    <li>Warmer & Photo therapy</li>
                    <li>CST Machine </li>
                </ul>
            </div>
            <div class="col-md-6 facilities-op-txt">
                <div class="title-subheader-bold fac-subheader-txt">Surgeries Performed</div>
                <ul class="sub-header">
                    <li>D/C and MTP</li>
                    <li>Normal Delivery </li>
                    <li>Caessessian Section </li>
                    <li>Hysterectomy</li>
                    <li>Various Gynec Surgeries</li>
                </ul>

            </div>
        </div>

        <div class="row title-header room-title">
            Cath Lab 
        </div>
        <div class="row img-div notop-border-row bottom-margin">
            <div class="col-md-6 border-op facilities-op-txt">
                <div class="title-subheader-bold fac-subheader-txt ">Facilities Available</div>
                <ul class="sub-header">
                    <li>Alpha Cath lab Machine</li>
                </ul>
            </div>
            <div class="col-md-6 facilities-op-txt">
                <div class="title-subheader-bold fac-subheader-txt">Surgeries Performed</div>
                <ul class="sub-header">
                    <li>Angiography</li>
                    <li>Angioplasty</li>
                    <li>DSA</li>
                </ul>

            </div>
        </div>
    </div>
</div>